{{#if next}}
<a class="px-2" href={{next}} data-method="post" style="text-decoration:none">
    <i data-feather="arrow-right-circle"></i>
    <label for="staticEmail" class="col-form-label"></label>
</a>
{{/if}}